<!DOCTYPE html>
<html lang="ko">
<body>
    <span class="window-title-main">Project Canaria 정보</span>
    <div class="window-content-main window-about">
        <img src="./assets/banner/banner.svg">
        <p id="window-about-version-tag"></p>
        <button>
            <div class="icon icon-loading"></div>
            <span>확인</span>
        </button>
    </div>
    <script class="window-script">
        main.querySelector("#window-about-version-tag").innerText = `${lyra.name}\n${lyra.version}\n\n개발 중인 버전입니다.`;
        main.querySelector("button").onclick = () => {
            this.close();
        };
    </script>
</body>
</html>