@charset "UTF-8";
@media screen and (max-width: 1416px) {
    #main {
        margin-bottom: 0;

        border-radius: var(--value-radius-main) var(--value-radius-main) 0 0;
    }

    #menu {
        padding: 0 10px 0 10px;
    }
}

@media screen and (max-width: 700px) {
    :root {
        --value-radius-main: 16px;
    }

    #main {
        padding: 20px;
    }

    #menu {
        height: 80px;
    }

    #logo {
        width: 60px;
        height: 60px;
    }

    #logo > div {
        background-image: url("../assets/logo/logomark.svg");
        background-size: 24px;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: var(--value-radius);
        cursor: pointer;
    }

    .menu-button > .icon {
        margin-right: 0;
    }

    .menu-button > span {
        display: none;
    }

    #leftside-list-view {
        flex-direction: column;
    }

    #leftside-list {
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        margin-right: 0px;
        padding-bottom: 10px;
    
        width: 100%;
        height: auto;

        border-radius: 0 0 var(--value-radius-main) var(--value-radius-main);
        background: none;
    }

    #leftside-list-collapse-on {
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        margin-right: 20px;
        z-index: 1;
    
        width: 100%;
        height: auto;
    
        background: var(--color-background);
    }

    #leftside-list-collapse {
        justify-content: center;
    }

    #leftside-list, #leftside-list-collapse-on {
        position: absolute;
    }

    #list-view-viewport {
        padding-top: 50px;
    }

    #leftside-list > #leftside-list-collapse > .icon {
        background-image: url("../assets/icons/collapse3.svg");
    }

    #leftside-list > #leftside-list-main, #leftside-list-collapse-on span {
        display: none;
    }

    #leftside-list-collapse-on > #leftside-list-main, #leftside-list-collapse-on span {
        display: flex;
    }

    #leftside-list-collapse-on > #leftside-list-collapse > span {
        display: inline;
    }

    #leftside-list-collapse-on > #leftside-list-collapse > .icon {
        background-image: url("../assets/icons/collapse2.svg");
    }

    #leftside-list {
        margin-right: 0;
        margin-bottom: 20px;

        width: 100%;
        height: auto;
    }
}