@charset "UTF-8";
:root {
    --value-radius: 4px;
    --value-radius-main: 8px;
}

#area {
    display: flex;
    position: relative;
    flex-direction: column;

    height: 100%;
}

#menu-area {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    z-index: 50;

    width: 100%;
    height: 81px;

    border-bottom: solid 1px var(--color-lightgray);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

#menu {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-start;

    width: 100%;
    height: 100%;
    
    background-color: var(--color-background);
}

#main-area {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    flex: 1;
}

#main {
    display: flex;
    position: relative;
    overflow: scroll;
    /* margin-bottom: 8px; */
    /* padding: 16px; */

    width: 100%;
    height: 100%;

    background-color: var(--color-background);
    border-radius: var(--value-radius-main);
}

#logo {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-right: auto;

    width: 115px;
    height: 60px;

    border-radius: var(--value-radius);
    cursor: pointer;
}

#logo:hover {
    background-color: rgba(0, 0, 0, 0.25);
}

#logo:active {
    background-color: rgba(0, 0, 0, 0.5);
}

#logo > div {
    width: 100%;
    height: 100%;

    background-image: url("../assets/logo/logo.svg");
    background-size: 80px;
    background-repeat: no-repeat;
    background-position: center;
}

#menu-right {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-end;

    width: auto;
    height: 80px;
}

.menu-button {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
    padding: 20px;

    height: 60px;

    border-radius: var(--value-radius);
    cursor: pointer;
}

.menu-button:hover {
    background-color: rgba(0, 0, 0, 0.25);
}

.menu-button:active {
    background-color: rgba(0, 0, 0, 0.5);
}

.menu-button > .icon {
    margin-right: 8px;
}

button {
    display: flex;
    position: relative;
    padding: 5px;
    
    min-width: 10px;
    width: fit-content;
    min-height: 10px;
    height: fit-content;

    font-family: "Spoqa Han Sans Neo Medium";
    border: 0;
    border-radius: var(--value-radius);
    background-color: var(--color-default-button);
    cursor: pointer;
}

button > * {
    margin: 5px;
}

button > *:not(:nth-child(1)) {
    margin-left: 0px;
}

.loading {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: fit-content;
    height: fit-content;
}

.loading > div {
    display: flex;
    position: relative;
    margin: 8px;

    width: 100px;
    height: 6px;

    border-radius: 3px;
    background-color: var(--color-default);
}

.loading > div > div {
    position: absolute;
    left: -50px;

    width: 25px;
    height: 6px;

    opacity: 0.8;
    border-radius: 3px;
    background-color: var(--color-background);

    animation-name: ani-loading;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes ani-loading {
    0% {
        left: -50px;
    }

    100% {
        left: 150px;
    }
}

.loading > span {
    font-family: "Spoqa Han Sans Neo Bold";
    text-align: center;
}

#leftside-list-view {
    display: flex;
    position: relative;

    width: 100%;
    height: 100%;
}

#leftside-list {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin-right: 20px;
    padding: 16px;
    z-index: 1;

    width: 251px;
    height: 100%;

    border-right: solid 1px var(--color-lightgray);
    background: var(--color-background);
}

#leftside-list > #leftside-list-collapse > .icon {
    background-image: url("../assets/icons/collapse0.svg");
}

#leftside-list-collapse-on {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin-right: 20px;
    padding: 16px;

    width: auto;
    height: 100%;
    
    border-right: solid 1px var(--color-lightgray);
}

#leftside-list-collapse-on > #leftside-list-main, #leftside-list-collapse-on span {
    display: none;
}

#leftside-list-collapse-on > #leftside-list-collapse > .icon {
    background-image: url("../assets/icons/collapse1.svg");
}

#leftside-list-collapse {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
    padding: 5px;

    width: 100%;

    /* background-color: yellow; */
    cursor: pointer;
}

#leftside-list-collapse > * {
    margin: 5px;
}

#leftside-list-collapse > *:not(:nth-child(1)) {
    margin-left: 0px;
}

#leftside-list-main {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    width: 100%;
    flex: 1;
}

#leftside-list-main > div {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    padding: 5px;

    width: 100%;

    border-radius: var(--value-radius);
    cursor: pointer;
}

#leftside-list-main > div > * {
    margin: 5px;
}

#leftside-list-main > div > *:not(:nth-child(1)) {
    margin-left: 0px;
}

.view-list-active {
    background-color: var(--color-default-leftside-list-active);
}

.view-list-active > * {
    filter: var(--filter-default-leftside-list-active);
}

#list-view-viewport {
    position: relative;
    padding: 16px;

    flex: 1;
}

#demo-loading {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

#error {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 100%;
    height: 100%;
}

#error > span:nth-child(1) {
    font-family: "Spoqa Han Sans Neo Bold";
    font-size: 60pt;
}

#error > span:nth-child(2) {
    margin-top: -20px;

    font-family: "Spoqa Han Sans Neo Bold";
    font-size: 24pt;
}

#error > span:nth-child(3) {
    margin-top: 20px;

    font-family: "Spoqa Han Sans Neo Medium";
    font-size: 14pt;
}

#color-picker {
    display: flex;
    position: relative;
    flex-direction: column;

    max-width: 400px;
    min-height: 300px;
    width: 100%;
    height: fit-content;

    border: solid 1px black;
}

#color-picker > #color-picker-hue {
    width: 100%;
    height: 20px;

    background-image: var(--gradient-rainbow-horizontal);
}

#color-picker > #color-picker-saturation {
    width: 100%;
    height: 20px;

    background-image: linear-gradient(90deg, hsl(0, 0%, 50%), hsl(0, 100%, 50%));
}

#color-picker > #color-picker-lightness {
    width: 100%;
    height: 20px;

    background-image: linear-gradient(90deg, hsl(0, 0%, 0%), hsl(0, 0%, 100%));
}

#color-picker > #color-picker-viewer {
    width: 100px;
    height: 100px;

    border: solid 1px black;
}

.modal {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    z-index: 100;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.5);
}

.grain {
    opacity: 0.03;
    background-image: url("../assets/images/image-noise.png");
}

.window {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;

    max-width: 100%;
    width: auto;
    height: auto;

    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 5px 5px 5px black;
}

.window-maximize {
    width: 100%;
    height: 100%;

    border-radius: 0;
}

.window-main {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 4px;

    width: 100%;
    height: 100%;

    background-color: var(--color-backdrop);
}

.window-title {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row-reverse;

    min-width: 200px;
    min-height: 30px;
    width: 100%;
}

.window-buttons {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row-reverse;
    margin-left: auto;

    width: auto;
    height: 100%;

}

.window-buttons > div {
    margin-left: 2px;
    width: 30px;
    height: 30px;

    border-radius: 5px;
    background-size: 16px;
    cursor: pointer;
}

.window-buttons > div:hover {
    background-color: rgba(0, 0, 0, 0.25);
}

.window-buttons > div:active {
    background-color: rgba(0, 0, 0, 0.5);
}

.window-title > span {
    margin: 0 6px;

    font-family: "Spoqa Han Sans Neo Medium";
}

.window-content {
    display: flex;
    position: relative;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 4px;

    min-width: 200px;
    min-height: 100px;
    width: 100%;
    height: 100%;

    background-color: var(--color-background);
}