@charset "UTF-8";
@font-face {
	font-family: "Spoqa Han Sans Neo";
	src: url("../assets/fonts/spoqa/SpoqaHanSansNeo-Regular.ttf") format("truetype");
}
@font-face {
	font-family: "Spoqa Han Sans Neo Thin";
	src: url("../assets/fonts/spoqa/SpoqaHanSansNeo-Thin.ttf") format("truetype");
}
@font-face {
	font-family: "Spoqa Han Sans Neo Light";
	src: url("../assets/fonts/spoqa/SpoqaHanSansNeo-Light.ttf") format("truetype");
}
@font-face {
	font-family: "Spoqa Han Sans Neo Medium";
	src: url("../assets/fonts/spoqa/SpoqaHanSansNeo-Medium.ttf") format("truetype");
}
@font-face {
	font-family: "Spoqa Han Sans Neo Bold";
	src: url("../assets/fonts/spoqa/SpoqaHanSansNeo-Bold.ttf") format("truetype");
}

* {
    overflow: hidden;
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    font-size: 14px;
    user-select: none;
}

body {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;

    background-color: var(--color-backdrop);
    font-family: "Spoqa Han Sans Neo";
}

h1, h2, h3, h4, h5, h6, span, p {
    color: var(--color-default-font);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Spoqa Han Sans Neo Bold";
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 19px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 12px;
}

h6 {
    font-size: 10px;
}

.wrap {
    max-width: 1400px;
    width: 100%;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.w100 {
    width: 100%;
}

.h100 {
    height: 100%;
}

.icon {
    width: 18px;
    height: 18px;

    background-size: 18px;
    background-repeat: no-repeat;
}

.icon-lyra { background-image: url("../assets/icon/lyra.svg"); }
.icon-menu { background-image: url("../assets/icon/menu.svg"); }
.icon-back { background-image: url("../assets/icon/back.svg"); }
.icon-search { background-image: url("../assets/icon/search.svg"); }
.icon-button { background-image: url("../assets/icon/button.svg"); }
.icon-loading { background-image: url("../assets/icon/loading.svg"); }
.icon-outer { background-image: url("../assets/icon/outer.svg"); }
.icon-arrow0 { background-image: url("../assets/icon/arrow0.svg"); }
.icon-arrow1 { background-image: url("../assets/icon/arrow1.svg"); }
.icon-arrow2 { background-image: url("../assets/icon/arrow2.svg"); }
.icon-arrow3 { background-image: url("../assets/icon/arrow3.svg"); }
.icon-collapse0 { background-image: url("../assets/icon/collapse0.svg"); }
.icon-collapse1 { background-image: url("../assets/icon/collapse1.svg"); }
.icon-collapse2 { background-image: url("../assets/icon/collapse2.svg"); }
.icon-collapse3 { background-image: url("../assets/icon/collapse3.svg"); }

#watermark {
    position: fixed;
    right: 10px;
    bottom: 10px;

    color: rgba(100, 100, 100, 0.5);
    text-align: right;
    pointer-events: none;
}