@charset "UTF-8";

:root {
    /* 배경색 */
    --lyra-color-background: rgb(0, 0, 0);

    /* 글꼴색 */
    --lyra-color-font-default: rgb(255, 255, 255);
    --lyra-color-font-title: rgb(255, 255, 255);
    --lyra-color-font-content: rgb(255, 255, 255);
    --lyra-color-font-caption: rgb(255, 255, 255);
    --lyra-color-font-button: rgb(255, 255, 255);

    /* 일반 색상 */
    --lyra-color-black: rgb(0, 0, 0);
    --lyra-color-white: rgb(255, 255, 255);
    --lyra-color-lyra: rgb(133, 22, 196);
    --lyra-color-shadow: rgba(255, 255, 255, 0.15);

    /* 버튼 구성요소 */
    --lyra-color-button-background: rgb(30, 30, 30);
    --lyra-color-button-hover: rgb(133, 22, 196);
    --lyra-color-button-hoverfilter: invert(21%) sepia(96%) saturate(4133%) hue-rotate(275deg) brightness(78%) contrast(104%); 
}