@charset "UTF-8";

/* 버튼 객체 */
.lyra-button {
    background: var(--lyra-color-button-background);
    border-radius: var(--lyra-value-border-radius);
}

/* 아이콘 객체 */
.lyra-icon {
    filter: brightness(0);
}

/* 모달 윈도우 객체 */
.lyra-modal-background {
    background: rgba(0, 0, 0, 0.5);
}

.lyra-modal-area-main {
    background: white;
}