@charset "UTF-8";

/* 버튼 객체 */
.lyra-button {
    background: var(--lyra-color-button-background);
    border-radius: var(--lyra-value-border-radius);
}

/* 아이콘 객체 */
.lyra-icon {
    filter: brightness(0);
}