@charset "UTF-8";

/* 아이콘 색상 필터 */
.lyra-iconfilter-lyra {
    filter: invert(21%) sepia(96%) saturate(4133%) hue-rotate(275deg) brightness(78%) contrast(104%);
}

.lyra-iconfilter-black {
    filter: brightness(0);
}

.lyra-iconfilter-white {
    filter: brightness(0) invert(1);
}

/* 대표 아이콘 */
.lyra-icon-lyra {
    background-image: url("../../assets/icons/icon-lyra.svg");
}

/* 기본 아이콘 */
.lyra-icon-none {
    background-image: url("../../assets/icons/icon-none.svg");
}

/* 낮 아이콘 */
.lyra-icon-day {
    background-image: url("../../assets/icons/icon-day.svg");
}

/* 밤 아이콘 */
.lyra-icon-night {
    background-image: url("../../assets/icons/icon-night.svg")
}

/* 수락 아이콘 */
.lyra-icon-accept {
    background-image: url("../../assets/icons/icon-accept.svg");
}

/* 거절 아이콘 */
.lyra-icon-deny {
    background-image: url("../../assets/icons/icon-deny.svg");
}

/* 경고 아이콘 */
.lyra-icon-alert {
    background-image: url("../../assets/icons/icon-alert.svg");
}