@charset "UTF-8";

/* 창 전환 애니메이션용 클래스 */
.lyra-ani-window-jumpup {
    opacity: 0;
    transform: scale(0.95);
}

.lyra-ani-window-fade {
    opacity: 0;
}

.lyra-ani-transition {
    transition: all ease-in-out 0.5s;
}

.lyra-ani-transition * {
    transition: all ease-in-out 0.5s;
}

/* 모달 윈도우 표시 애니메이션용 클래스 */
.lyra-ani-modal-transition-in {
    transition: all ease-out 0.2s;
}

.lyra-ani-modal-transition-out {
    transition: all ease-in 0.2s;
}

/* 알림 표시 애니메이션용 클래스 */
.lyra-ani-notification-out {
    transform: translateX(20px);
}

.lyra-ani-notification-transition-in {
    transition: all ease-out 0.2s;
}

.lyra-ani-notification-transition-out {
    transition: all ease-in 0.2s;
}