@charset "UTF-8";

:root {
    /* 곡률 */
    --lyra-value-border-radius: 4px;

    /* 글꼴 크기 */
    --lyra-value-font-title: 28px;
    --lyra-value-font-content: 16px;
    --lyra-value-font-caption: 12px;
    --lyra-value-font-button: 16px;
}