@charset "UTF-8";

/* 버튼 객체 */
.lyra-button {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    padding: 3px;

    cursor: pointer;
    transition: all 0.1s;
}

.lyra-button > * {
    transition: all 0.1s;
}

.lyra-button:hover {
    background: var(--lyra-color-button-hover);
    box-shadow: 0 2px 3px 0 var(--lyra-color-shadow);
}

.lyra-button:hover .lyra-icon {
    filter: brightness(0) invert(1);
}

.lyra-button:hover .lyra-button-nametag {
    color: var(--lyra-color-white);
}

.lyra-button:active {
    filter: brightness(0.5);
    transform: scale(0.95);
}

.lyra-button-horizontal {
    min-width: 72px;
    width: fit-content;
    height: 40px;
}

.lyra-button-vertical {
    flex-direction: column;

    min-width: 50px;
    width: fit-content;
    height: 60px;
}

.lyra-button-minimal {
    padding: 8px;
    width: fit-content;
    height: fit-content;
}

.lyra-button-minimal :not(.lyra-icon) {
    display: none;
}

.lyra-button-nametag {
    margin: 0 8px 0 8px;

    font-size: var(--lyra-color-font-button);
    color: var(--lyra-color-font-button);
}

.lyra-button-vertical .lyra-button-nametag {
    margin: 4px 4px 0 4px;
}

.lyra-button-cover {
    position: absolute;
    z-index: 1;

    width: 100%;
    height: 100%;
}

.lyra-button-horizontal .lyra-icon {
    margin: 0 0 0 8px;
}

/* 아이콘 객체 */
.lyra-icon {
    width: 24px;
    height: 24px;
    background-size: cover;
}

/* 문자열 객체 */
.lyra-title {
    font-size: var(--lyra-value-font-title);
    color: var(--lyra-color-font-title);
}

.lyra-content {
    font-size: var(--lyra-value-font-content);
    color: var(--lyra-color-font-content);
}

.lyra-caption {
    font-size: var(--lyra-value-font-caption);
    color: var(--lyra-color-font-caption);
}

/* 모달 윈도우 객체 */
.lyra-modal {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

.lyra-modal-background {
    position: absolute;
    z-index: 10;

    width: 100%;
    height: 100%;

    backdrop-filter: blur(10px);
    transition: all ease-in-out 0.2s;
}

.lyra-modal-area {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    z-index: 11;
    overflow: visible;

    margin: 0 20px 0 20px;
    width: 100%;
    min-height: 300px;

    transition: all ease-in-out 0.2s;
}

.lyra-modal-backdrop {
    display: flex;
    position: absolute;
    z-index: 12;
    padding: 10px 0;

    width: 100%;
    height: 100%;

    background: linear-gradient(90deg, var(--lyra-color-modal-gradient-pos1), var(--lyra-color-modal-gradient-pos2), var(--lyra-color-modal-gradient-pos1));
}

.lyra-modal-area-main {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    z-index: 13;
    overflow: hidden;
    
    width: 100%;
    min-height: 100%;

    border-radius: var(--lyra-value-modal-radius);
}

.lyra-modal-wrap {
    display: flex;
    position: absolute;
    align-items: flex-start;
    justify-content: start;
    flex-direction: column;
    z-index: 12;
    padding: 20px;

    box-sizing: border-box;
    max-width: 800px;
    width: 100%;
    height: 100%;
}

.lyra-modal-button-area {
    display: flex;
    align-self: flex-end;
    margin-top: auto;
}

.lyra-modal-button-area .lyra-button {
    margin-left: 8px;
}

/* 알림 영역 구성요소 */
#lyra-notification-area {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    bottom: 0;
    right: 0;

    max-width: 500px;
    width: 100%;
    height: auto;

    /* background: yellow; */
}

.lyra-notification {
    display: flex;
    position: relative;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin: 5px 0 30px 10px;
    padding: 20px;
    
    box-sizing: border-box;
    width: 100%;
    min-height: 80px;
    height: fit-content;

    background: var(--lyra-color-white);
    border-radius: var(--lyra-value-modal-radius) 0 0 var(--lyra-value-modal-radius);
    box-shadow: var(--lyra-shadow-small);
}

.lyra-notification:first-child {
    background: red;
}