@charset "UTF-8";
:root {
    --value-radius: 4px;
    --value-radius-main: 8px;
}

.icon-menu { background-image: url("../assets/icon/menu.svg"); }
.icon-search { background-image: url("../assets/icon/search.svg"); }
.icon-outer { background-image: url("../assets/icon/outer.svg"); }

#area {
    display: flex;
    position: relative;
    flex-direction: column;

    height: 100%;
}

#menu {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-start;

    width: 100%;
    height: 100px;
}

#main {
    display: flex;
    position: relative;
    overflow: scroll;
    margin-bottom: 8px;
    padding: 16px;

    flex: 1;

    background-color: var(--color-background);
    border-radius: var(--value-radius-main);
}

#main * {
    overflow: visible;
}

#logo {
    margin-right: auto;

    width: 300px;
    height: 80px;

    background-image: url("../assets/logo/logo.svg");
    background-size: auto 32px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: var(--value-radius);
    cursor: pointer;
}

#logo:hover {
    background-color: rgba(0, 0, 0, 0.25);
}

#logo:active {
    background-color: rgba(0, 0, 0, 0.5);
}

#menu-right {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-end;

    width: auto;
    height: 80px;

    /* background-color: red; */
}

.menu-button {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
    padding: 20px;

    height: 60px;

    border-radius: var(--value-radius);
    cursor: pointer;
}

.menu-button:hover {
    background-color: rgba(0, 0, 0, 0.25);
}

.menu-button:active {
    background-color: rgba(0, 0, 0, 0.5);
}

.menu-button > .icon {
    margin-right: 8px;
}