<!DOCTYPE html>
<html lang="ko">
<body>
    <div id="leftside-list-view">
        <div id="leftside-list">
            <div id="leftside-list-collapse">
                <div class="icon"></div>
            </div>
            <div id="leftside-list-main">
                <div value="demo-main">
                    <div class="icon icon-menu"></div>
                    <span>시작 페이지</span>
                </div>
                <div value="demo-buttons">
                    <div class="icon icon-menu"></div>
                    <span>버튼</span>
                </div>
                <div value="demo-loading">
                    <div class="icon icon-menu"></div>
                    <span>로딩 아이콘</span>
                </div>
            </div>
        </div>
        <div id="list-view-viewport"></div>
    </div>
</body>
</html>