<!DOCTYPE html>
<html lang="ko">
<body>
    <section>
        <h1>Hello, world!</h1>
        <p>LyraUX 데모 페이지입니다.</p>
        <button onclick="view(`#main`, `main`);">
            <div class="icon icon-outer"></div>
            <span>main.html로 이동</span>
        </button>
        <br>
        <div class="loading">
            <div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <span>로딩 아이콘 데모</span>
        </div>
    </section>
</body>
</html>