@charset "UTF-8";

:root {
    /* 배경색 */
    --lyra-color-background: rgb(255, 255, 255);

    /* 글꼴색 */
    --lyra-color-font-default: rgb(0, 0, 0);
    --lyra-color-font-title: rgb(0, 0, 0);
    --lyra-color-font-content: rgb(0, 0, 0);
    --lyra-color-font-caption: rgb(0, 0, 0);
    --lyra-color-font-button: rgb(0, 0, 0);

    /* 일반 색상 */
    --lyra-color-lyra: rgb(177, 0, 255);
    --lyra-color-black: rgb(0, 0, 0);
    --lyra-color-deepgray: rgb(20, 20, 20);
    --lyra-color-white: rgb(255, 255, 255);
    --lyra-color-red: rgb(255, 48 ,0);
    --lyra-color-aggressive-red: rgb(255, 10, 10);
    --lyra-color-blue: rgb(0, 102, 255);
    --lyra-color-green: rgb(0, 228, 68);
    --lyra-color-shadow: rgba(0, 0, 0, 0.3);

    /* 버튼 구성요소 */
    --lyra-color-button-default: rgb(240, 240, 240);
    --lyra-color-button-accent: var(--lyra-color-lyra);
    --lyra-color-button-warning: var(--lyra-color-aggressive-red);
    --lyra-color-button-transparent: transparent;
    --lyra-color-button-red: var(--lyra-color-red);
    --lyra-color-button-green: var(--lyra-color-green);
    --lyra-color-button-blue: var(--lyra-color-blue);
    --lyra-color-button-cover-default: rgba(255, 255, 255 , 0);
    --lyra-color-button-cover-hover: rgba(255, 255, 255, 0.2);
    --lyra-color-button-cover-active: rgba(0, 0, 0, 0.2);
    --lyra-filter-button-default: brightness(0);
    --lyra-filter-button-accent: brightness(0) invert(1);
    --lyra-filter-button-warning: brightness(0);
    --lyra-filter-button-transparent: brightness(0);
    --lyra-filter-button-red: brightness(0) invert(1);
    --lyra-filter-button-green: brightness(0);
    --lyra-filter-button-blue: brightness(0) invert(1);
    --lyra-filter-button-hover: brightness(1.5);
    --lyra-filter-button-active: brightness(0.5);
    --lyra-shadow-button-hover: 0 2px 3px 0 var(--lyra-color-shadow);
    --lyra-shadow-button-active: 0 2px 3px 0 var(--lyra-color-shadow);
    --lyra-transform-button-active: scale(0.95);

    /* 모달 윈도우 구성요소 */
    --lyra-color-modal-background: rgba(0, 0, 0, 0.5);
    --lyra-color-modal-window: rgb(255, 255, 255);
    --lyra-color-modal-handle: rgb(220, 220, 220);
    --lyra-color-modal-gradient-pos1: rgba(133, 22, 196, 0);
    --lyra-color-modal-gradient-pos2: rgba(133, 22, 196, 0.1);
    --lyra-filter-modal-backdrop: blur(20px);
    --lyra-shadow-modal: 0 2px 3px 0 var(--lyra-color-shadow);

    /* 경고 구성요소 */
    --lyra-color-alert-background: rgba(0, 0, 0, 0.5);
    --lyra-color-alert-font: var(--lyra-color-white);
    --lyra-filter-alert-backdrop: blur(20px);
    --lyra-shadow-alert: 0 2px 3px 0 var(--lyra-color-shadow);

    /* 툴팁 구성요소 */
    --lyra-color-description-background: rgb(250, 250, 250);

    /* 그림자 */
    --lyra-shadow-small: 0 2px 3px 0 var(--lyra-color-shadow);
}