<!DOCTYPE html>
<html lang="ko">
<body>
    <h1>색상 선택기</h1>
    <br>
    <div id="color-picker">
        <div id="color-picker-hue"></div>
        <div id="color-picker-saturation"></div>
        <div id="color-picker-lightness"></div>
        <p>
            <span id="color-picker-viewer-hue"></span>
            <span id="color-picker-viewer-saturation"></span>
            <span id="color-picker-viewer-lightness"></span>
        </p>
        <div id="color-picker-viewer"></div>
    </div>
</body>
</html>