<!DOCTYPE html>
<html lang="ko">
<body>
    <section>
        <h1>테마 변경</h1>
        <br>
        <button onclick="setTheme(0);">
            <div class="icon icon-menu"></div>
            <span>브라우저 인식</span>
        </button>
        <br>
        <button onclick="setTheme(1);">
            <div class="icon icon-menu"></div>
            <span>밝은 테마</span>
        </button>
        <br>
        <button onclick="setTheme(2);">
            <div class="icon icon-menu"></div>
            <span>어두운 테마</span>
        </button>
    </section>
</body>
</html>